/* body{ */
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(156,156,175,1) 23%, rgba(81,127,136,1) 71%); */
  .first-login{
    height: 8vh;
    width: 100%;
    color:#fff;
    /* background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,15,65,1) 8%, rgba(15,18,68,1) 10%, rgba(21,144,168,1) 84%); */
  /* background-color: red; */
}
#lern{
  color: #fff;
  font-size: 40px;
}
.cont14{
  margin-top: 0;
  height: 90vh;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  /* border-style: groove; */
  /* background-color: green; */
}
.cont14 .field{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  height: 80vh;
  width: 90%;
  border-style: groove;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,15,65,1) 8%, rgba(15,18,68,1) 10%, rgba(21,144,168,1) 84%);
  /* background-color: green; */
  margin-left: 70px;
}
.cont14 .field .child1{
  height: 80vh;
  width: 50%;
  color: #fff;
  /* background-color: red; */
}
.cont14 .field .child1 h3{
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-decoration: underline;
}
.cont14 .field .child1  .inpu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70vh;
  width: 100%;
  /* background-color: red; */
}
.cont14 .field .child1  .inpu .child1{
  height: 70vh;
  width: 40%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}
.cont14 .field .child1  .inpu .child1 label{
  padding: 10px;
  font-size: 28px;
  margin-left: 15%;
  color: #fff;
}
.cont14 .field .child1  .inpu .child1 #lab1{
  margin-top: 20%;
}
.cont14 .field .child1  .inpu .child1 #pass{
  margin-top: 30px;
}
.cont14 .field .child1  .inpu .child1 #mail{
  margin-top: 20px;
}
.cont14 .field .child1  .inpu .child2{
  height: 70vh;
  width: 60%;
  display: flex;
  color: #fff;
  flex-direction: column;
  /* background-color: yellow; */
}
.cont14 .field .child1  .inpu .child2 input{
  padding: 10px;
  width: 90%;
  margin-top: 10%;
  border-radius: 10px;
  border: none;
  outline: none;
}
.cont14 .field .child1  .inpu .child2 input::placeholder{
  font-size: 21px;
  padding-left: 10px;
}
.cont14 .field .child1  .inpu .child2 .fin{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 5vh;
  margin-top: 20px;
  width: 100%;
  /* background-color: green; */
}
.cont14 .field .child1  .inpu .child2 .fin label{
  margin-top: 35px;
  color: #fff;
  font-size: 19px;
  margin-left: 30px;
}
.cont14 .field .child1  .inpu .child2 .fin #remember{
  font-size: 29px;
}
.cont14 .field .child1  .inpu .child2 #Username{
  margin-top: 15%;
}
.cont14 .field .child1  .inpu .child2 .log{
  width: 40%;
  margin-left: 25%;
  transition: all 1s ease-in-out;
  font-size: 20px;
}
.cont14 .field .child1  .inpu .child2 .log:hover{
  background-color: red;
  color: #fff;
}
.cont14 .field .child1  .inpu .child2 #dont{
  margin-top: 20px;
}
.cont14 .field .child1  .inpu .child2 b a{
  text-decoration: none;
  color: greenyellow;
  margin-left: 65%;
}
.cont14 .field .child1  .inpu .child2 b a:hover{
  color: #fff;
  text-decoration: underline;
}
.cont14 .field .child2{
  height: 80vh;
  width: 50%;
  /* background-color: pink; */
}
.cont14 .field .child2 img{
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  filter: blur(3px);
}